body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: salmon;
}

.future {
  background-color: #77dd77;
  color: green;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: black;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.tableBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
}

.agendaTable {
  width: 100%;
}
tr:nth-child(even) th {
  color: rgb(108, 100, 100);
  font-weight: normal;
}

th,
td {
  padding: 0.5rem 1rem;
}

.timeColumn {
  font-weight: normal;
  border-top: thin dotted rgb(35, 34, 34);
  width: 15%;
  height: 100px;
  background-color: white;
}

.userEventEntry {
  border-top: thin dotted rgb(35,34,34);
  border-left: thin dotted rgb(35,34,34);
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  transition: opacity 0.3s ease;
  width: 65%;
  height: 100px;
}

.userInputContainer {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100px;
  background-color: rgb(208,204,204);
}

.userEntrySaveButtonContainer {
  border-top: thin dotted rgb(35,34,34);
  border-left: thin dotted rgb(35,34,34);
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  transition: opacity 0.3s ease;
  width: 15%;
  background-color: rgb(56, 177, 220);
  border-radius: 5px;
  height: 100px;
}

.defaultTableStyling {
  background-color: rgb(208, 204, 204);
}

button {
  width: 100%;
  height: 60%;
}

.footerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  font-size: 32px;
  font-weight: bold;
  background-color: red;
  color: black;
}